
*.cache
*.user
AlarmDisplay/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
DatabaseManager/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RealTimeUnit/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ReportManager/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
SimulationDriver/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Trending/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
*.json
*.vsidx
.vs/SCADA/v17/.wsuo
*.sqlite
*.v2
.vs/ProjectSettings.json
.vs/SCADA/FileContentIndex/19c62eb7-4485-4a75-a1c1-e0d00384a0ec.vsidx
.vs/SCADA/v17/.wsuo
.vs/SCADA/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vscode/settings.json
AlarmDisplay/.vs/AlarmDisplay.csproj.dtbcache.json
Core/.vs/Core.csproj.dtbcache.json
Core/.vs/Core/DesignTimeBuild/.dtbcache.v2
Core/.vs/Core/v17/.futdcache.v2
Core/.vs/Core/v17/DocumentLayout.json
Core/.vs/Core/v17/.suo
AlarmDisplay/bin/Debug/AlarmDisplay.exe.config
Core/bin/Core.dll.config
DatabaseManager/bin/Debug/DatabaseManager.exe.config
RealTimeUnit/bin/Debug/RealTimeUnit.exe.config
ReportManager/bin/Debug/ReportManager.exe.config
Trending/bin/Debug/Trending.exe.config
Core/.vs/Core/FileContentIndex/read.lock
Core/obj/Debug/build.force
*.exe
*.pdb
*.dll
Core/.vs/Core/config/applicationhost.config
Core/.vs/Core/config/applicationhost.config
Core/obj/Debug/Core.csproj.FileListAbsolute.txt
DatabaseManager/obj/Debug/DatabaseManager.csproj.FileListAbsolute.txt
AlarmDisplay/obj/Debug/AlarmDisplay.csproj.FileListAbsolute.txt
Core/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Core/obj/Debug/Core.csproj.CopyComplete
*.targets
*.xdt
*.transform
*.nupkg
*.props
*.psm1
*.psd1
*.ps1
*.md
*.png
*.p7s
Core/packages/EntityFramework.6.5.1/tools/about_EntityFramework6.help.txt
RealTimeUnit/obj/Debug/RealTimeUnit.csproj.FileListAbsolute.txt
ReportManager/obj/Debug/ReportManager.csproj.FileListAbsolute.txt
SimulationDriver/obj/Debug/SimulationDriver.csproj.FileListAbsolute.txt
Trending/obj/Debug/Trending.csproj.FileListAbsolute.txt
DatabaseManager/bin/Debug/Core.dll.config
DatabaseManager/obj/Debug/DatabaseManager.csproj.CopyComplete
Core/.vs/Core/config/applicationhost.config
