<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_ITagService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IAlarmService" />
                <binding name="WSDualHttpBinding_ITrendingService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50508/CoreService.svc/UserService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="CoreService.IUserService" name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:50508/CoreService.svc/TagService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITagService"
                contract="CoreService.ITagService" name="BasicHttpBinding_ITagService" />
            <endpoint address="http://localhost:50508/CoreService.svc/AlarmService"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAlarmService"
                contract="CoreService.IAlarmService" name="WSDualHttpBinding_IAlarmService">
                <identity>
                    <userPrincipalName value="DESKTOP-445ODN7\Stefan Djurica" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50508/CoreService.svc/TrendingService"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITrendingService"
                contract="CoreService.ITrendingService" name="WSDualHttpBinding_ITrendingService">
                <identity>
                    <userPrincipalName value="DESKTOP-445ODN7\Stefan Djurica" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>