<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_ITagService" />
                <binding name="BasicHttpBinding_IUserService1" />
                <binding name="BasicHttpBinding_ITagService1" />
                <binding name="BasicHttpBinding_IUserService2" />
                <binding name="BasicHttpBinding_ITagService2" />
                <binding name="BasicHttpBinding_IUserService3" />
                <binding name="BasicHttpBinding_ITagService3" />
                <binding name="BasicHttpBinding_IUserService4" />
                <binding name="BasicHttpBinding_ITagService4" />
                <binding name="BasicHttpBinding_IUserService5" />
                <binding name="BasicHttpBinding_ITagService5" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IAlarmService" />
                <binding name="WSDualHttpBinding_IAlarmService1" />
                <binding name="WSDualHttpBinding_IAlarmService2" />
                <binding name="WSDualHttpBinding_IAlarmService3" />
                <binding name="WSDualHttpBinding_IAlarmService4" />
                <binding name="WSDualHttpBinding_IAlarmService5" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50508/CoreService.svc/L"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="CoreService.IUserService" name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:50508/CoreService.svc/L"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITagService"
                contract="CoreService.ITagService" name="BasicHttpBinding_ITagService" />
            <endpoint address="http://localhost:50508/CoreService.svc/P"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAlarmService"
                contract="CoreService.IAlarmService" name="WSDualHttpBinding_IAlarmService">
                <identity>
                    <userPrincipalName value="DESKTOP-445ODN7\Stefan Djurica" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50508/CoreService.svc/L"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService1"
                contract="CoreService.IUserService" name="BasicHttpBinding_IUserService1" />
            <endpoint address="http://localhost:50508/CoreService.svc/L"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITagService1"
                contract="CoreService.ITagService" name="BasicHttpBinding_ITagService1" />
            <endpoint address="http://localhost:50508/CoreService.svc/P"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAlarmService1"
                contract="CoreService.IAlarmService" name="WSDualHttpBinding_IAlarmService1">
                <identity>
                    <userPrincipalName value="DESKTOP-445ODN7\Stefan Djurica" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50508/CoreService.svc/L"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService2"
                contract="ServiceReference1.IUserService" name="BasicHttpBinding_IUserService2" />
            <endpoint address="http://localhost:50508/CoreService.svc/L"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITagService2"
                contract="ServiceReference1.ITagService" name="BasicHttpBinding_ITagService2" />
            <endpoint address="http://localhost:50508/CoreService.svc/P"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAlarmService2"
                contract="ServiceReference1.IAlarmService" name="WSDualHttpBinding_IAlarmService2">
                <identity>
                    <userPrincipalName value="DESKTOP-445ODN7\Stefan Djurica" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50508/CoreService.svc/L"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService3"
                contract="ServiceReference1.IUserService" name="BasicHttpBinding_IUserService3" />
            <endpoint address="http://localhost:50508/CoreService.svc/L"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITagService3"
                contract="ServiceReference1.ITagService" name="BasicHttpBinding_ITagService3" />
            <endpoint address="http://localhost:50508/CoreService.svc/P"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAlarmService3"
                contract="ServiceReference1.IAlarmService" name="WSDualHttpBinding_IAlarmService3">
                <identity>
                    <userPrincipalName value="DESKTOP-445ODN7\Stefan Djurica" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50508/CoreService.svc/L"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService4"
                contract="ServiceReference1.IUserService" name="BasicHttpBinding_IUserService4" />
            <endpoint address="http://localhost:50508/CoreService.svc/L"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITagService4"
                contract="ServiceReference1.ITagService" name="BasicHttpBinding_ITagService4" />
            <endpoint address="http://localhost:50508/CoreService.svc/P"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAlarmService4"
                contract="ServiceReference1.IAlarmService" name="WSDualHttpBinding_IAlarmService4">
                <identity>
                    <userPrincipalName value="DESKTOP-445ODN7\Stefan Djurica" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50508/CoreService.svc/L"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService5"
                contract="CoreService.IUserService" name="BasicHttpBinding_IUserService5" />
            <endpoint address="http://localhost:50508/CoreService.svc/L"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITagService5"
                contract="CoreService.ITagService" name="BasicHttpBinding_ITagService5" />
            <endpoint address="http://localhost:50508/CoreService.svc/P"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAlarmService5"
                contract="CoreService.IAlarmService" name="WSDualHttpBinding_IAlarmService5">
                <identity>
                    <userPrincipalName value="DESKTOP-445ODN7\Stefan Djurica" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>