<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_ITagService" />
                <binding name="BasicHttpBinding_ITagService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50508/CoreService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITagService" contract="CoreService.BasicHttpBinding_ITagService"
                name="BasicHttpBinding_ITagService" />
            <endpoint address="http://localhost:50508/CoreService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService" contract="CoreService.IUserService"
                name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:50508/CoreService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITagService1" contract="CoreService.ITagService"
                name="BasicHttpBinding_ITagService1" />
        </client>
    </system.serviceModel>
</configuration>